/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/


@keyframes animation-of-the-arrow {
    from {
        transform: translate(0px);
    }
    to {
        transform: translate(4px);
    }
}

.theme-menu__button:disabled::before {
    content: "▶";
    position: absolute;
    animation: animation-of-the-arrow 0.5s infinite ease-in-out;
    animation-direction: alternate;
    left: -15px;
}


@keyframes animation-of-the-heart {
    0% {
        transform:scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}

.like-icon.is-liked .heart {
    animation: animation-of-the-heart 0.1s 0.3s ease-in-out 1 alternate;
    transform-origin: center;
}


@keyframes animation-of-sparks {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.like-icon.is-liked .sparks {
    animation: animation-of-sparks 0.3s 0.3s ease-in 1 alternate;
}