/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin: 0 auto;
  color: var(--text-color);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-variation-settings: "wght" var(--font-wght);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  max-inline-size: 696px;
  margin-block-start: 102px;
  margin-block-end: 100px;
  border: 2px solid var(--text-color);
  background: var(--bg-color);
}

/* ------------------------------ПОВТОРЯЮЩИЕСЯ СТИЛИ ДЛЯ КНОПОК!!------------------------------------------- */

.button-style {
  font-family: "PressStart2P", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--text-color);
  font-variation-settings: "wght" var(--font-wght);
  box-sizing: border-box;
  border: 2px solid var(--text-color);
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s linear;
}

/* ------------------------------------------------------------------------------------------- */

.header-title {
  color: var(--text-color);
  font-family: "PressStart2P", Arial, Helvetica, sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
  line-height: 65px;
  text-align: left;
  text-transform: uppercase;
  padding-block-start: 115px;
}

.header-subtitle {
  margin-block-start: 10px;
  margin-block-end: 20px;
  font-family: "PressStart2P", Arial, Helvetica, sans-serif;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-variation-settings: "wght" var(--font-wght);
  line-height: 14px;
  text-transform: uppercase;
}

.theme-menu__list {
  display: grid;
  row-gap: 10px;
  margin-block-end: 16px;
  margin-inline-start: 16px;
}

.theme-menu__button {
  position: relative;
  transition: all 0.3s ease;
  text-transform: uppercase;
  border: none;
  font-family: "PressStart2P", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--text-color);
  font-variation-settings: "wght" var(--font-wght);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  position: absolute;
  content: "";
  left: 6px;
  bottom: -2px;
  display: block;
  width: 0;
  transition: 0.3s;
  height: 2px;
  background: var(--text-color);
}

.theme-menu__button:focus-visible::after {
  width: 85%;
}

.main {
  display: grid;
  row-gap: 50px;
  max-inline-size: 696px;
}

/* -------------------------АНИМАЦИИ КНОПКИ ЛАЙКА------------------------------------------------- */

.contour {
  fill: var(--text-color);
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--text-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--text-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: red;
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: red;
  transition: fill 0.3s 0.03s linear;
}

.like-icon.is-liked .contour {
  fill: red;
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .core {
  fill: red;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition: fill 0.3s 0.05s linear;
}

.sparks {
  opacity: 0;
}

/* ------------------------------------------------------------------------------ */

.section-cards {
  border: 2px solid var(--text-color);
  display: grid;
  background: var(--bg-color);
}

.title {
  padding-inline-start: 10px;
  padding-block-start: 5px;
  padding-block-end: 5px;
  font-size: 18px;
  font-variation-settings: "wght" var(--title-wght);
  max-width: 351px;
}

.cards-img {
  max-height: 692px;
}

.cards-img {
  position: relative;
  outline: 2px solid var(--text-color, #000000);
}

.img {
  object-fit: cover;
  width: 100%;
}

.lable {
  position: absolute;
  right: 10px;
  top: 28px;
  color: var(--text-color);
  font-family: "PressStart2P", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-variation-settings: "wght" var(--font-wght);
  line-height: 14px;
  opacity: 0.5;
  z-index: 2;
  text-shadow: 1px var(--lable-color);
}

@supports (
  /* (text-stroke: 1px var(--lable-color)) or */
    (-webkit-text-stroke: 1px var(--lable-color))
) {
  .lable {
    -webkit-text-stroke: 1px var(--lable-color);
    text-shadow: none;
  }
}

.cards-text {
  padding-inline-start: 25px;
  padding-inline-end: 28.95px;
  padding-block-start: 25px;
  display: grid;
  gap: 25px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-variation-settings: "wght" var(--font-wght);
  line-height: 21px;
}

.collection-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  margin-inline-end: 3px;
  border: 2px solid transparent;
  transition: border 0.3s linear;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--text-color);
}

.cards-button {
  justify-self: end;
  border: 2px solid var(--text-color);
  display: flex;
  min-width: 130px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12.5px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s linear;
}

.button__text::first-letter {
  text-transform: uppercase;
}

.cards-button:focus {
  outline: none;
}

.cards-button:focus-visible {
  box-shadow: 2px 2px var(--text-color);
}

.cards-button::after {
  position: absolute;
  content: "";
  background-color: var(--text-color);
  transition: all 0.5s ease-in-out;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
}

.cards-button:hover::after {
  transform: translateX(0);
}

.button-style:focus {
  outline: none;
}

.button-style:focus-visible {
  box-shadow: 2px 2px var(--text-color);
}

.button-style::after {
  position: absolute;
  content: "";
  background-color: var(--text-color);
  transition: all 0.5s ease-in-out;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
}

.button-style:hover::after {
  transform: translateX(0);
}

.button__text {
  z-index: 1;
  color: var(--text-button);
  mix-blend-mode: difference;
}

/* --------------------------------------------DIALOG--------------------------------------------------- */

.section-button-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  max-inline-size: 696px;
  margin: 0 auto;
}

.button-save {
  margin-block-end: 102px;
  width: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px;
}

.text {
  font-family: "PressStart2P", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-variation-settings: "wght" var(--font-wght);
  line-height: 14px;
  z-index: 1;
  color: var(--text-button);
  mix-blend-mode: difference;
}

.floppy {
  /* color: var(--icon-color); */
  z-index: 1;
  max-width: 39px;
  z-index: 1;
  color: var(--text-button);
  mix-blend-mode: difference;

  /* mix-blend-mode: difference; */
}

dialog {
  display: none;
  width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  grid-template-columns: min-content 2.5fr;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  row-gap: 30px;
  box-sizing: border-box;
  border: 2px solid var(--text-color);
  background: var(--bg-color);
  padding: 30px 27px;
}

.dialog[open] {
  display: grid;
}

dialog::backdrop {
  background-color: rgb(0 0 0);
  opacity: 75%;
}

.dialog-button {
  grid-column: 1/3;
}

.popap-icon {
  justify-self: left;
}

.popap-text {
  min-width: 198px;
  justify-self: start;
  text-transform: uppercase;
  font-family: "PressStart2P", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.dialog-button {
  box-sizing: border-box;
  padding-block-start: 12.5px;
  padding-block-end: 12.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-button span {
  text-transform: uppercase;
}

/* ------------------------ФИЛЬТРЫ-------------------------------------------- */

.filter-blur {
  filter: blur(3px);
}

.filter-saturate {
  filter: saturate(2.2);
}

.filter-brightness {
  filter: brightness(30%);
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-hue-rotate {
  filter: hue-rotate(0.5turn);
}

.filter-invert {
  filter: invert(100%);
}

.filter-sepia {
  filter: sepia(0.6);
}

.filter-mix {
  filter: sepia(0.6) invert(100%);
}

/* ------------------------------------------------------------------------------------------ */

@media (min-width: 690px) {
  .header {
    margin: 102px auto;
    gap: 0px;
  }

  .header-subtitle {
    margin-block-start: 30px;
  }

  .header-title {
    padding-block-start: 133px;
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  }

  .theme-menu__list {
    margin-block-start: 5px;
  }

  .main {
    margin: 0 auto;
    gap: 55px;
  }

  .title {
    max-width: 662px;
  }

  .button-save {
    flex-direction: row;
    min-width: 335px;
    padding: 11px;
  }

  .button-save .floppy {
    width: 21px;
  }
}
